.header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  display: flex;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;

  & > .logo-wrapper {
    min-width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 20;
      right: 0;
      height: 32px;
      width: 1px;
      background-color: #eee;
    }

    & > .logo {
      width: 128px;
      height: 32px;
      line-height: 32px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      white-space: nowrap;

      & > .logo-image {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }
}
