.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 50px;

  .operate-wrapper {
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
  }

  .table-wrapper {
    width: 100%;
  }

  .loading {
    padding-bottom: 20%;
  }
}
